@charset "utf-8";
body{
	
}
h3{
	/* padding: 80px; */
	/* text-align: center; */
	color: #ddf111;
}
#xuzhimo{
	ont-size: 18px;
	color: #0000ff;
}
.xuzhimo1{
	width: 200px;
	height: 150px;
	
}
		
	/* font-size: 40pt; */
